<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/form.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>HYPNI X - Cadastro</title>
</head>

<body>
    <main>
        <div id="overlay"></div>
        <div id="popup">
            <p>Parabéns, cadastro concluído!</p>
            <p>Iremos te redirecionar para nossa página novamente.</p>
            <button id="closePopup">Fechar</button>
        </div>
        <form id="formulario_cadastro">
            <h1>Bem-vindo(a)!</h1>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Seu email" />

            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="Sua senha" />

            <a href="../index.html">
                <button>Cadastrar</button>
            </a>
        </form>
    </main>
</body>
<script src="../assets/js/form.js"></script>

</html>